body{
    margin: 0;

    

}

#contentWrapper{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#FFFCD4, #C9AF97); 
    display: flex;
    flex-direction: column;
    overflow: hidden;
 }
 /* #titleAnim{
    margin-top: 100px;

    
 } */
 

 #anim{
    margin-top: 10px;
    overflow: hidden;
 }
 #stewIt{
    margin: auto;
    margin-top: 60px;
 }
 #begin{
    margin: auto;
    margin-top: 60px;
    overflow: hidden;
    z-index: 1;
    position:relative;
 }
#begin:hover{
    transform: scale(1.1, 1.1);
    transform: move(1, -1);
    opacity: 0.8;

}
 @media only screen and (min-width: 981px) {
    #anim{
        margin-bottom: -30%;
    }
    #titleAnim{
        margin: auto;
        margin-top: 50px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
  }

  @media only screen and (min-width: 1500px) {
    #anim{
        margin-bottom: -35%;
    }
    
  }


